:root{
    --soft-blue: hsla(215, 51%, 70%, 75%);
    --mid-cyan: hsla(178, 100%, 50%, 50%);
    --full-cyan: hsla(178, 100%, 50%, 100%);
    --dark-mainBG: hsl(217, 54%, 11%);
    --dark-card: hsl(216, 50%, 16%);
    --dark-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
    --title-size: 2.4rem;
    --text-size: 2.2rem;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    font-family:'Outfit', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-mainBG);
}

main{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .card{
        width: 420px;
        height: 650px;
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: var(--dark-card);
        border-radius: 8px;
    }

        .card__img{
            width: 362px;
            height: 362px;
            background-image: url("https://github.com/jweb93/nft-preview-card-component-main/blob/main/assets/image-equilibrium.jpg?raw=true");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            border-radius: 8px;
        }
            .card__img a{
                width: 362px;
                height: 362px;
                border-radius: 8px;
            }

            .card__img a:hover{
                background-color: var(--mid-cyan);
                background-image: url("https://raw.githubusercontent.com/jweb93/nft-preview-card-component-main/b50828aee2abe6951f2aa014cff4ce0366e4d4e8/assets/icon-view.svg");
                background-repeat: no-repeat;
                background-size: small;
                background-position: center;
            }
        
        .card__title{
            margin: 20px 10px 0 0;
            font-size: var(--title-size);
            font-weight: bold;
            color: var(--white);
            text-decoration: none;
            
        }
        .card__title:hover{
            color: var(--full-cyan);
        }

        .card__description{
            margin: 10px 0;
            font-size: var(--text-size);
            font-weight: normal;
            color: var(--soft-blue);
        }

        .card__metrics{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 20px 0;
        }
            .card__metrics--ETH{
                color: var(--full-cyan);
                font-size: var(--text-size);
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .card__metrics--ETH span{
                    background-image: url("https://raw.githubusercontent.com/jweb93/nft-preview-card-component-main/main/assets/icon-ethereum.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }

            .card__metrics--days{
                color: var(--soft-blue);
                font-size: var(--text-size);
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .card__metrics--days span{
                    background-image: url("https://raw.githubusercontent.com/jweb93/nft-preview-card-component-main/b50828aee2abe6951f2aa014cff4ce0366e4d4e8/assets/icon-clock.svg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 20px;
                    height: 20px;
                    margin-right: 5px;
                }
        .card__line{
            border: 1px solid var(--dark-line);
            margin-bottom: 15px;
        }

        .card__author{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
            .card__author p{
                color: var(--soft-blue);
                font-size: var(--text-size);
                margin-right: 5px;
            }
            .card__author a{
                color: var(--white);
                font-size: var(--text-size);
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .card__author a:hover{
                color: var(--full-cyan);
            }
            .card__author span{
                background-image: url("https://github.com/jweb93/nft-preview-card-component-main/blob/main/assets/image-avatar.png?raw=true");
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                width: 30px;
                height: 30px;
                margin-right: 5px;
                border: 1px solid var(--white);
                border-radius: 50%;
                margin-right: 15px;
            }
footer{
    width: 100%;
    height: 30px;
}




/* Font size (paragraph): 18px */
/* 
1.- Posicionamiento
2.- Modelo de caja (box model)
3.- Tipografía
4.- Visuales
5.- Miscelaneos 
*/